.features {
  margin: 15rem 0;
  grid-column: center-start / center-end;
  display: grid;
  //grid-template-columns: repeat(3, 1fr);TODOautofit
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start;
}
.feature {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1.5rem 2.5rem;
  &__icon {
    fill: $color-primary;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2; // -1 是显网格末TODO
    transform: translateY(-1rem);
  }
  &__text {
    font-size: 1.7rem;
  }
}
