.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;
  padding: 8rem;
}
.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  justify-items: center;
  grid-gap: 2rem;

  &__link {
    &:link,
    &:visited {
      color: white;
      font-size: 1.4rem;
      text-decoration: none;
      font-family: $font-display;
      text-transform: uppercase;
      text-align: center;
      transition: all 0.4s;
      padding: 1.5rem;
      display: block;
    }
    &:hover {
      background-color: rgba(white, 0.05);
      transform: translateY(-3px);
    }
  }
}
.copyright {
  font-size: 1.4rem;
  color: $color-grey-light-2;
  margin: 5rem auto;
  text-align: center;
  margin-bottom: 0;
}
